fastapi==0.110.0
python-multipart>=0.0.9
uvicorn[standard]==0.27.1
pydantic-settings==2.2.1
httpx
python-dotenv
python-chess

langgraph
langchain
langchain-groq
langchain-openai
openai>=1.40.0

transformers
torch
accelerate
sentencepiece
safetensors
peft
bitsandbytes
sqlalchemy
asyncpg
psycopg2-binary
alembic
loguru==0.7.2
redis>=5.0.0
email-validator
passlib[bcrypt]
python-jose[cryptography]

openpyxl>=3.1.0


